<h1>Users</h1>
<a href="/users/create" class="add-new">Add New</a>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td class="actions">
                <a href="/users/{{this._id}}">View</a>
                <a href="/users/{{this._id}}/edit">Edit</a>
                <a href="/users/{{this._id}}/delete">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
